<section class="section-container">

    <img src="/assets/svg/Recurso 7.svg" alt="">
    <div>
        <div class="separator">
            Siguenos:
        </div>

        <div class="rr-ss-icons">
            <div (click)="goToLink('ig')" >
                ig
            </div>
            <div (click)="goToLink('tiktok')">
                tik
            </div>
            <div (click)="goToLink('wp')">
                wha
            </div>
        </div>
    </div>

    <div class="separator">
        Visitanos:
    </div>

    <span class="street-addres">
        Carrera 45#150-33 Bogotá, Colombia
    </span>
</section>