<section style="max-width: 1440px; margin: auto;">
    <div class="bg-first-section"></div>


    <div style="width: 100%; min-height: 100vh; padding-top: 72px ;">
        <principal-section />
    </div>

    <div style="width: 100%; min-height: 100vh; padding-top: 72px; display: flex; align-items: center; background-color: black;">
        <its-us />
    </div>
    <!-- <special-services/> -->
    <!-- <photos-gallery></photos-gallery> -->

    <div style="width: 100%; min-height: 100vh; padding-top: 72px">
        <tariff-n-schedule />
    </div>
    <div style="width: 100%; min-height: 100vh; padding-top: 72px; background-color: black; ">
        <instructors />
    </div>






    <footer-component />

    <!-- <div style="width: 100%; height: 100vh; background-color: lightgreen "></div> -->
</section>