<section class="container" >
    <div>
        <span class="text">
            KEEP 
        </span>
        <span class="text" style="color: white;">
            MOVING
        </span>
        <br>
        <span class="text" style="color: white;">
            STAY
        </span>
        <span class="text">
            STRONG
        </span>
    </div>

    <div class="details">
        ¿Quieres 5 días de cortesía?
    </div>

    <div class="button" (click)="sendMessage()">
        Reserva aqui
    </div>
</section>