@if (display) {
<nav class="navbar visible">
    <div class="col-2"></div>
    <div class="nav-items col-8">
        <div class="nav-item" id="landing-header">Inicio</div>
        <div class="nav-item" id="landing-header">Horarios</div>

        <img src="/assets/svg/Recurso 7.svg" alt="" class="impala-logo">

        <div class="nav-item" id="landing-header">Reglamento</div>
        <div class="nav-item" id="landing-header">Precios</div>
        <div class="back-drop-item" id="menu-backdrop"></div>
    </div>
    <div class="col-2"></div>
</nav>
} @else {
<nav class=" navbar visible">
    <header class="header-content">
        <button mat-mini-fab color="primary" class="menu-button" (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="/assets/svg/Recurso 7.svg" alt="" class="impala-logo">
    </header>
</nav>
}