<section class="header-desktop">
    <header class="grid-container header-content">
        <div class="col-2">
        </div>
        
        <nav class="col-8 nav-content" >
    
    
            <div class="nav-item"  id="landing-header">Inicio</div>
            <div class="nav-item"  id="landing-header">Horarios</div>
            
            <img src="/assets/svg/Recurso 7.svg" alt="" class="impala-logo">
    
            <div class="nav-item"  id="landing-header">Reglamento</div>
            <div class="nav-item"  id="landing-header">Precios</div>
    
            <div class="back-drop-item" id="menu-backdrop"></div>
        </nav>
        <div class="col-2"></div>
    </header>

</section>


<section class="header-mobile">

    <header class="header-content">

        <button mat-mini-fab color="primary" class="menu-button" (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
          </button>
        <img src="/assets/svg/Recurso 7.svg" alt="" class="impala-logo">
    </header>
</section>