<section class="container">

    <div class="col-1 image-section"></div>

    <div class="col-1 description">
        <span class="tittle">
            9 años de alta intensidad
        </span>
        <br>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia placeat, laborum ab deleniti magni
            expedita sapiente aliquid perferendis a quia doloribus accusantium quidem quis error reiciendis dolore
            possimus molestiae ullam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum esse, error
            obcaecati in quod iusto minus soluta asperiores culpa ipsum atque earum modi molestias possimus repellendus
            iste et itaque dolores.
        </p>
    </div>
</section>